[Unit]
Description=WiPry Clarity 2.4GHz Band Spectrum Analysis to Grafana
Documentation=https://github.com/bryanward-net/wipry-lp

[Service]
#ExecStartPre=systemctl stop wipry-lp-5
#ExecStartPre=systemctl stop wipry-lp-6
Conflicts=wlanpi-grafana-wipry-lp-5 wlanpi-grafana-wipry-lp-6
ExecStart=/opt/wlanpi-grafana/wipry/stream-wipry.sh -2
WorkingDirectory=/opt/wlanpi-grafana/wipry
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target

