[Unit]
Description=Streams data to WLAN Pi Grafana Scan dashboard

[Service]
ExecStart=/opt/wlanpi-grafana/scan/stream-scan.sh
WorkingDirectory=/opt/wlanpi-grafana/scan

[Install]
WantedBy=multi-user.target
