[Unit]
Description=Streams data to WLAN Pi Grafana Scan dashboard

[Service]
ExecStart=/opt/wlanpi-grafana/scanner/stream-scanner.sh
WorkingDirectory=/opt/wlanpi-grafana/scanner
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
